
@font-face {
    font-family: WatermintScript;
    src: url(./font/WatermintScript_PERSONAL_USE_ONLY.otf);
}
body {
    background-image: url(./img/bg_island.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /*font-family: 'WatermintScript', cursive; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(211, 214, 199); }
.ntxt { font-family:serif; }
.box {  background-color: rgba(48, 56, 46, 0.65);
        border: 0px solid; }
p { font-family: 'Courier New', Courier, monospace, "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans; }


.inlineicon { vertical-align:text-bottom; }
.smallicon { font-size: 2.3rem; }
.bigicon { font-size: 10rem; }
@media (min-width: 500px) {
    .bigicon { font-size: 15rem; }
    .smallicon { font-size: 3rem; }  }
@media (max-width: 500px) {
    :root {
        --fsH1: 3.0rem;
        --fsH2: 2.7rem;
        --fsH3: 2.2rem;
        --fsH4: 1.8rem;
        --fsH5: 1.4rem;
        --fsH6: 1.1rem;
        --fsP : 0.9rem; } }

.vcenterchild {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 100%; }
.vcenterparent { 
    display: flex;
    align-items: center; }

.tile5 {
    margin-left: 1% !important;
    width: calc( (100 - (1 * 6)) * 0.2% );
    justify-content: center;
    align-items: center;
    display: flex; }
.tile3 {
    margin-left: 10% !important;
    width: calc( (100 - (10 * 4)) * 0.33333333% );
    justify-content: center;
    align-items: center;
    display: flex; }

.offset-by-one-tile5 { margin-left: calc( (100 - (1 * 6)) * 0.2% + 2% ) !important; }
.offset-by-two-tile5 { margin-left: calc( (100 - (1 * 6)) * 0.4% + 2% ) !important; }
.maprow { margin-top: 1% !important; }