:root {
    --dark:#585858;
    --light:#6b6b6b;
}

/***** F O N T *****/

body, h1, h2, h3, h4, h5, h6 {
    /* fix firefox's text-blackener 
    https://stackoverflow.com/questions/55221501/firefox-print-page-white-font-colors-overidden-to-darker-colors */
    color: transparent;
    text-shadow: 0 0 0px red;
    text-align: center; }



/***** S T R U C T *****/

.card {
    border:0.2mm solid #6b6b6b; /*border-radius: 5px;*/
    display: flex;
    flex-direction: column;
    float: left; }
.card.item { /*silver Docsmagic sleeves*/
    width : 63.5mm;
    height: 88.0mm; }
.card.character { /*magenta Docsmagic sleeves*/
    width : 80mm;
    height: 120mm; }
.card.modifier { /*HALF magenta Docsmagic sleeves*/
    width : 80mm;
    height: 60mm; }


.card > .head { margin-top: 3mm; }

.title {
    float: left;
    width: 74%;
    text-align: center; }
h1 {
    text-shadow: 0 0 0px var(--dark);
    font-size: 5mm; }

.card > .body {
    /* This vert. centers the body content
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    */
    /* This is only for when the body is not vert. centered */
    width: 80%;
    margin-left: 10%;
    margin-top: 0mm;
    float: left;
    position: relative;
}


.weightbox {
    text-shadow: 0 0 0px var(--light);
    margin: 1mm auto;
    width: 45%;
    border: 2px solid var(--dark); border-radius: 10px; }

.effectbox {
    text-shadow: 0 0 0px var(--light);
    margin: 0mm auto;
    margin-top: 5mm;
    width: calc(100% -4px);
    border: 2px solid var(--dark); border-radius: 10px; }
h3               { text-shadow: 0 0 0px var(--light);font-size: 3.5mm; }
h3:first-of-type { margin-top:    3mm; }
h3:last-of-type  { margin-bottom: 2mm; }


.attributebox {
    float: left;
    text-shadow: 0 0 0px var(--light);
    height: calc(12mm - 4px);
    width: calc(30% - 4px);
    margin-right: calc(5% + 2px); /* 2px also come from the right-border of effect box! So 80%+4px*/
    border: 2px solid var(--dark); border-radius: 10px; }
.attributebox:last-of-type{ margin-right: 0; }
.passion > .icon {
    border: 2px solid var(--dark); 
    border-radius: 100px;
}





.card > .foot { margin-top: auto; }
h5 { 
    font-size: 3mm; 
    text-shadow: 0 0 0px #9e9e9e; }


/***** I C O N S *****/

.icon {
    width: 5mm;
    vertical-align: middle;
    color: var(--light); }

.icon.title {
    color: var(--dark);
    float: left;
    width:9%;
    margin-left: 4%; }
.icon.title:last-child {
    margin-left: 0%;
    margin-right: 4%;
    transform: scale(-1, 1); }

.effectbox > .icon:first-child,
.attributebox > .icon:first-child {
    color: var(--dark);
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 0px 5px;
    z-index: 10; }
.icon:not(:first-of-type) {
    background-color: transparent;
}


h3 > .icon { width: 4mm;}


/*attribute*/
h2 {
    font-size: 6mm;
    margin-top: 3.5mm;
    color: var(--dark);
}

.hidden {
    border-color: transparent;
}

/*conditions*/
h4 {
    font-size: 5mm;
    margin: 2.5mm 0mm;
    color: var(--dark); }
h4:first-of-type {
    margin-top: 4mm;
}