


/********** STRUCT **********/

.width15 {width: 15%;}
.width17 {width: 17%;}
.width20 {width: 20%;}
.width60 {width: 60%;}
.width66 {width: 66%;}
.width70 {width: 70%;}

.card {
    width : 69mm;
    height: 97.7mm;

    float: left;

    border:0.5mm solid #6b6b6b;
    /*border-radius: 5px;*/

    display: flex;
    flex-direction: column;
}

.card > .head {
    margin-top: 3mm;
}

.card > .body {
    /* This vert. centers the body content
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    */
    /* This is only for when the body is not vert. centered */
    margin-top: 0mm;
}

.elem {
    float: left;
    text-align: center;
}
.elem.effect {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aquamarine;*/
}
.foot {
    margin-top: auto;
    margin-bottom: 0.5rem;
}


.title {
    float: left;
    width: 80%;
    text-align: center;
}


.effectbox {
    margin: 5mm auto;
    width: 80%;
    border: 2px solid #333; border-radius: 10px;
}


/********** ICONS **********/

.icon {
    vertical-align: middle;
    color: #6b6b6b;
}

.icon.title {
    float: left;
    width:8%;
    margin-left: 2%;
}
.icon.title:last-child {
    margin-left: 0%;
    margin-right: 2%;
}

.effectbox > .icon:first-child {
    position: absolute;
    /* Center horizontally: move to 50% from the left, then translate back half its width 
    left: 50%; 
    */transform: translateX(-50%);
    /* Position vertically: move to the top of the container, then translate up half its height 
    top: 0; 
    */transform: translate(-50%, -50%); /* Combine horizontal and vertical centering */
    
    /* Style the icon container to "break" the border 
    */background-color: white; /* **Crucial:** Match this to your div's background/page background 
    */padding: 0px 5px; /* Add padding around the icon 
    z-index: 10; /* Ensure the icon sits above the border */
    /* Remove the top border part visually if you want a clean break */
    /* Optionally, give it its own little background/border if needed */
}



.icon.main {
    margin-top: 0.7rem;
}
.icon.found {
    margin-bottom: 0.7rem;
    margin-left: 1rem;
}
.icon.found:first-child {
    margin-left: 0%;
}
.icon.effect {
    margin-bottom: 0.7rem;
}



/********** SPACER **********/

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 0;
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #6b6b6b;
    border-radius: 2px;
}
.headspacer {
    width: 90%;
    margin-left: 5%;
}
.spacer {
    width: 75%;
    margin-left: 12.5%;
}
.footspacer {
    margin-top: 0rem;
    margin-bottom: 0.9rem;
}



/********** FONT **********/

body {
    font-size: 2rem; 
    line-height: 0rem;  
    letter-spacing: 0; 
}

body, h1, h2, h3, h4, h5, h6 {
    color: #bebbbb;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 700; 
    text-align: center;

    /* fix firefox's text-blackener */
    /* https://stackoverflow.com/questions/55221501/firefox-print-page-white-font-colors-overidden-to-darker-colors */
    color: transparent;
    text-shadow: 0 0 0px #6b6b6b;
    border-radius: 50%;
}
h1 { 
    font-size: 2.3rem; 
    line-height: 2.5rem;  
    letter-spacing: 0; 
}
h6 { 
    font-size: 1rem; 
    line-height: 1rem;  
    letter-spacing: 0; 
    text-shadow: 0 0 0px #9e9e9e;
}
h6.info {
    text-shadow: 0 0 0px #6b6b6b;
    font-size: 1.2rem; 
    line-height: 1.3rem;  
}
h1:first-child {
    margin-top: 0.7rem;
}



h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }



