/***** F O N T *****/

body, h1, h2, h3, h4, h5, h6 {
    /* fix firefox's text-blackener 
    https://stackoverflow.com/questions/55221501/firefox-print-page-white-font-colors-overidden-to-darker-colors */
    color: transparent;
    text-shadow: 0 0 0px #6b6b6b;
    text-align: center; }



/***** S T R U C T *****/

.card {
    width : 69mm;
    height: 97.7mm;

    border:0.5mm solid #6b6b6b; /*border-radius: 5px;*/
    
    float: left;
    display: flex;
    flex-direction: column; }

.card > .head { margin-top: 3mm; }

.title {
    float: left;
    width: 74%;
    text-align: center; }
h1 {
    font-size: 7mm; }

.card > .body {
    /* This vert. centers the body content
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    */
    /* This is only for when the body is not vert. centered */
    margin-top: 0mm;
}

.effectbox {
    margin: 5mm auto;
    width: 80%;
    border: 2px solid #333; border-radius: 10px; }
h3 {
    font-size: 4mm; }
h3:first-of-type {
    margin-top: 3mm; }

.card > .foot { margin-top: auto; }
h5 { 
    font-size: 3mm; 
    text-shadow: 0 0 0px #9e9e9e; }


/***** I C O N S *****/

.icon {
    vertical-align: middle;
    color: #6b6b6b; }

.icon.title {
    float: left;
    width:9%;
    margin-left: 4%; }
.icon.title:last-child {
    margin-left: 0%;
    margin-right: 4%; }

.effectbox > .icon:first-child {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 0px 5px;
    z-index: 10; }

h3 > .icon { width: 5mm;}


