:root {
    --dark:#585858;
    --light:#6b6b6b;
}

/***** F O N T *****/

body, h1, h2, h3, h4, h5, h6 {
    /* fix firefox's text-blackener 
    https://stackoverflow.com/questions/55221501/firefox-print-page-white-font-colors-overidden-to-darker-colors */
    color: transparent;
    text-shadow: 0 0 0px red;
    text-align: center; }



/***** S T R U C T *****/

.card {
    width : 73.5mm;
    height: 103.9mm;

    border:0.5mm solid #6b6b6b; /*border-radius: 5px;*/
    
    float: left;
    display: flex;
    flex-direction: column; }

.card > .head { margin-top: 3mm; }

.title {
    float: left;
    width: 74%;
    text-align: center; }
h1 {
    text-shadow: 0 0 0px var(--dark);
    font-size: 7mm; }

.card > .body {
    /* This vert. centers the body content
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    */
    /* This is only for when the body is not vert. centered */
    margin-top: 0mm;
}


.weightbox {
    text-shadow: 0 0 0px var(--light);
    margin: 1mm auto;
    width: 45%;
    border: 2px solid var(--dark); border-radius: 10px; }

.effectbox {
    text-shadow: 0 0 0px var(--light);
    margin: 5mm auto;
    width: 80%;
    border: 2px solid var(--dark); border-radius: 10px; }
h3               { text-shadow: 0 0 0px var(--light);font-size:     4mm; }
h3:first-of-type { margin-top:    3mm; }
h3:last-of-type  { margin-bottom: 2mm; }


.attributebox {
    float: left;
    text-shadow: 0 0 0px var(--light);
    margin-right: calc(2.5% - 4px) ;
    margin-bottom: 5mm;
    width: 25%;
    height: 17mm;
    border: 2px solid var(--dark); border-radius: 10px; }
.attributebox:first-child{ margin-left: 10%; }
.attributebox:last-child{ margin-right: 0; }

.card > .foot { margin-top: auto; }
h5 { 
    font-size: 3mm; 
    text-shadow: 0 0 0px #9e9e9e; }


/***** I C O N S *****/

.icon {
    vertical-align: middle;
    color: var(--light); }

.icon.title {
    color: var(--dark);
    float: left;
    width:9%;
    margin-left: 4%; }
.icon.title:last-child {
    margin-left: 0%;
    margin-right: 4%;
    transform: scale(-1, 1); }

.effectbox > .icon:first-child {
    color: var(--dark);
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 0px 5px;
    z-index: 10; }
.attributebox > .icon:first-child {
    color: var(--dark);
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 0px 5px;
    z-index: 10; }



h3 > .icon { width: 5mm;}


